/provis/10116347-Lukmannudin/build/
/provis/10116347-Lukmannudin/dist/
/provis/10116347-Lukmannudin/nbproject/private/
/provis/Latihan_6_2/Latihan_6_2/build/
/provis/Latihan_6_2/Latihan_6_2/dist/
/provis/Latihan_6_2/Latihan_6_2/nbproject/private/
/provis/Latihan_6_3/Latihan_6_3/build/
/provis/Latihan_6_3/Latihan_6_3/dist/
/provis/Latihan_6_3/Latihan_6_3/nbproject/private/
/provis/Latihan_6_1/Latihan_6_1/nbproject/private/